<!-- <h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p> -->

<h1>List</h1>
<br />
<h3><%= @list.name %></h3>
<br />
<%= button_to "Edit List", edit_list_path(@list), method: :get %>
<%= button_to "Delete", list_path(@list), method: :delete,
data: {confirm: "Really delete this item?"} %>
<hr />
